/*** modal styles ***/
.modal_container {
    position: fixed;
    left: 50%;
    top:0;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    z-index: 800;

    -webkit-transform: translate(-50%, -0%);
    -ms-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);

    animation-name: modal_animation;
    animation-duration: 150ms;
}

@keyframes modal_animation {
    0% { 
        width: 0%;
        height: 0%;
        transform: translate(-50%, -100%);
    };
    20% {
        width: 20%;
        height: 15%;
        transform: translate(-50%, -80%);
    };
    40% {
        width: 30%;
        height: 30%;
        transform: translate(-50%, -60%);
    };
    60% {
        width: 40%;
        height: 45%;
        transform: translate(-50%, -40%);
    }; 
    50% {
        width: 50%;
        height: 60%;
        transform: translate(-50%, -20%);
    }; 
    100% {
        width: 60%;
        height: 80%;
        transform: translate(-50%, -0%);
    };

}

.modal:before {
    content: "";
    position: fixed;
    background-color: rgba(0, 0, 0, 0.774);
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 700;
}

.modal_closeButton {
    position: absolute;
    top: 0;
    right: -40px;
    border:none;
    background-color: rgba(0, 0, 0, 0);
    
   
}

.modal_closeButton:focus {
    outline-color: #006AFF;
}

.modal_closeButton:hover {
    cursor: pointer;
}

/***graph container **/
.graph_container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 106, 255, 0.26);
    padding: 1rem;
}